/* Space Grotesk Font - Local */
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./space-grotesk/SpaceGrotesk-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./space-grotesk/SpaceGrotesk-Bold.woff2') format('woff2');
}

/* JetBrains Mono Font - Local */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('./jetbrains-mono/JetBrainsMono-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./jetbrains-mono/JetBrainsMono-Light.woff2') format('woff2');
}